do_api_token = ""

droplet_ssh_user = ""
droplet_private_key_file = ""
droplet_private_key_id =

k8s_apiserver_encryption_key = ""

tls_cacert_subject_common_name = ""
tls_cacert_subject_organization = ""

tls_cert_subject_organizational_unit = ""
tls_cert_subject_street_address = ""
tls_cert_subject_locality = ""
tls_cert_subject_province = ""
tls_cert_subject_postal_code = ""
tls_cert_subject_country = ""
tls_cert_validity_period_hours =
tls_cert_early_renewal_hours =
