[Unit]
Description=Kubernetes Scheduler
After=docker.service
After=kube-apiserver.service
Wants=docker.service
Wants=kube-apiserver.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/k8s/bin/kube-scheduler \
  --master=http://$${COREOS_PRIVATE_IPV4}:${insecure_port}\
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
