[Unit]
Description=Kubernetes API Server
Documentation=http://kubernetes.io/docs/admin/kube-apiserver/
After=docker.service
Wants=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/k8s/bin/kube-apiserver \
  --admission-control=NamespaceLifecycle,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --advertise-address=$${COREOS_PRIVATE_IPV4} \
  --allow-privileged=true \
  --authorization-mode=ABAC \
  --authorization-policy-file=${authorization_policy_file} \
  --bind-address=0.0.0.0 \
  --client-ca-file=${client_ca_file} \
  --enable-swagger-ui=true \
  --etcd-servers=${etcd_endpoints} \
  --etcd-cafile=${ca_file} \
  --etcd-certfile=${cert_file} \
  --etcd-keyfile=${key_file} \
  --insecure-bind-address=$${COREOS_PRIVATE_IPV4} \
  --insecure-port=${insecure_port} \
  --kubelet-certificate-authority=${ca_file} \
  --kubelet-client-certificate=${cert_file} \
  --kubelet-client-key=${key_file} \
  --secure_port=${secure_port} \
  --service-cluster-ip-range=${service_cluster_ip_range} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=${cert_file} \
  --tls-private-key-file=${key_file} \
  --token-auth-file=${token_auth_file} \
  --v=2
ExecStartPost=-/bin/bash -c "until /usr/bin/curl --cacert ${ca_file} --key ${client_key_file} --cert ${client_cert_file} https://$${COREOS_PRIVATE_IPV4}:${secure_port}; do echo \"waiting for API server to come online...\"; sleep 5 done"
Restart=on-failure
RestartSec=5
TimeoutSec=20

[Install]
WantedBy=multi-user.target
