[Unit]
Description=Kubernetes Controller Manager
After=docker.service
After=kube-apiserver.service
Wants=docker.service
Wants=kube-apiserver.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/k8s/bin/kube-controller-manager \
  --allocate-node-cidrs=true \
  --cluster-cidr=${cluster_cidr} \
  --cluster-name=${cluster_name} \
  --cluster-signing-cert-file=${ca_file} \
  --cluster-signing-key-file=${ca_key_file} \
  --leader-elect=true \
  --master=http://$${COREOS_PRIVATE_IPV4}:${insecure_port} \
  --root-ca-file=${ca_file} \
  --service-cluster-ip-range=${service_cluster_ip_range} \
  --service-account-private-key-file=${key_file} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
